$grid-columns: 12 !default;
$grid-gutter-widths: (xs: 40px,
	sm: 40px,
	md: 40px,
	lg: 40px,
	xl: 40px) !default;
$grid-breakpoints: (xs: 0,
	sm: 768px,
	md: 1024px,
	lg: 1440px,
	xl: 1920px) !default;
$container-max-widths: (sm: calc(100% - 140px),
	md: calc(100% - 140px),
	lg: 1140px,
	xl: 1140px) !default;
$container-fluid-max-widths: (sm: 100%,
	md: 100%,
	lg: 100%,
	xl: 100%) !default;
