$background: #ffffff;
$background-negative: #0f0e12;
$background-primary: #0f0e12;
$background-secondary: #d5defd;
$background-tertiary: #e6e6e6;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$background-countdown: #101010;
$foreground: #0f0e12;
$foreground-negative: #ffffff;
$foreground-primary: #0f0e12;
$foreground-secondary: #101010;
$foreground-tertiary: #101010;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$orange: #f67c53;
$pink: #daa5ad;
$blue: #3388ff;
$yellow: #faff2e;
$green: #0c7d4b;
$border: #0f0e12;
