$background: #ffffff;
$background-negative: #262626;
$background-primary: #5a80fb;
$background-secondary: #d5defd;
$background-tertiary: #edf1fe;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$foreground: #262626;
$foreground-negative: #ffffff;
$foreground-primary: #5a80fb;
$foreground-secondary: #101010;
$foreground-tertiary: #101010;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$border: #262626;
