$background: #ffffff;
$background-negative: #262626;
$background-primary: #232221;
$background-secondary: #d5defd;
$background-tertiary: #ffffff;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$foreground: #706d6b;
$foreground-negative: #ffffff;
$foreground-primary: #232221;
$foreground-secondary: #101010;
$foreground-tertiary: #101010;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$border: #262626;
