<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta charset="utf-8" />
	<base href="<!--@@var=baseHref-->">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta name="Content-Language" content="it" />
	<meta name="robots" content="noindex,nofollow" />
	<title>Websolute Live Showroom</title>
	<meta name="description" content="Websolute Live Showoorm demo.">
	<meta name="apple-mobile-web-app-title" content="Websolute Live Showoorm">
	<meta name="application-name" content="Websolute Live Showoorm">
	<link rel="shortcut icon" href="<!--@@var=baseHref-->img/favicon.ico">
	<!--
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
	<link rel="manifest" href="/img/icons/site.webmanifest">
	<link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#19255a">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="/img/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	-->
	<!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto+Mono:wght@700" rel="stylesheet">--> <!-- &display=swap -->
	<link rel="stylesheet" href="<!--@@var=baseHref-->css/vendors.min.css" />
	<link rel="stylesheet" href="<!--@@var=baseHref-->css/main.min.css" />
	<!-- @@placeholder= css -->
</head>

<body>
	<!-- @@include ./shared/svg.html -->
	<!-- @@include ./shared/consts.html -->
	<!-- <div class="wse__app wse__hidden" [class]="{ 'wse__aside--active': asideActive }" app-component> -->
	<div class="wse__app wse__hidden" app-component>
		<!-- @@include ./shared/aside.html -->
		<main class="wse__main">
			<!-- @@include ./shared/header.html -->
			<!-- @@placeholder= main -->
			<!-- @@include ./shared/footer.html -->
			<!-- @@include ./shared/modal-outlet.html -->
		</main>
		<!-- @@include ./shared/notification.html -->
	</div>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2CArray.prototype.fill%2CArray.prototype.find%2CArray.from%2Cfetch%2CObject.assign%2CURLSearchParams%2CElement.prototype.classList%2CNode.prototype.contains"></script>
	<!-- <script type="text/javascript" id="ta_bootstrapper" src="https://gruppoconcorde-cdn.thron.com/shared/plugins/tracking/current/bootstrapper-min.js"></script> -->
	<!-- <script type="text/javascript" src="https://gruppoconcorde-cdn.thron.com/shared/player/current/scripts/embedscript-min.js"></script> -->
	<script type="text/javascript" src="https://gruppoconcorde-cdn.thron.com/shared/ce/bootstrap/1/scripts/embeds-min.js"></script>
	<script src="<!--@@var=baseHref-->js/vendors.min.js"></script>
	<script src="<!--@@var=baseHref-->js/main.min.js"></script>
	<!-- @@placeholder= js -->
	<!-- start webpushr code --
	<script>
		(function(w, d, s, id) {
			if (typeof(w.webpushr) !== 'undefined') return;
			w.webpushr = w.webpushr || function() {
				(w.webpushr.q = w.webpushr.q || []).push(arguments)
			};
			var js, fjs = d.getElementsByTagName(s)[0];
			js = d.createElement(s);
			js.id = id;
			js.src = "https://cdn.webpushr.com/app.min.js";
			fjs.parentNode.appendChild(js);
		}(window, document, 'script', 'webpushr-jssdk'));
		webpushr('init', 'BHkW08bdMbpzLUyEVBYq1LaUSYAZ3TGX4q3h5G3AZAD544_HdwBFisIkVMYmGa_SsK4N7fj5HtgnwjpNZ4kULTA');

	</script>
	-- end webpushr code -->
</body>

</html>
