<div class="wse__section--channel">
	<div class="wse__container-fluid">
		<div class="wse__row">
			<div class="wse__col-md-6 wse__section--channel__intro">
				<div class="wse__section--channel__content">
					<a [href]="channel.url" class="wse__section--channel__title" [innerHTML]="channel.name"></a>
					<div class="wse__channel__info">
						<div class="wse__subscribe" [class]="{ 'wse__active': channel.info.subscribed }" (click)="toggleSubscribe()">
							<div class="wse__info">
								<svg class="wse__icon--bell" *if="!channel.info.subscribed"><use xlink:href="#bell"></use></svg>
								<svg class="wse__icon--bell" *if="channel.info.subscribed"><use xlink:href="#bell-active"></use></svg>
								<span class="wse__count" [innerHTML]="channel.info.subscribers | count"></span>&nbsp;<span class="wse__text">iscritti</span>
							</div>
							<div class="wse__label"><svg class="wse__icon--bell"><use xlink:href="#bell-active"></use></svg> <span [innerHTML]="channel.info.subscribed ? 'iscritto' : 'iscriviti'"></span></div>
						</div>
						<div class="wse__like" [class]="{ 'wse__active': channel.info.liked }" (click)="toggleLike()">
							<div class="wse__info">
								<svg class="wse__icon--heart" *if="!channel.info.liked"><use xlink:href="#heart"></use></svg>
								<svg class="wse__icon--heart" *if="channel.info.liked"><use xlink:href="#heart-active"></use></svg>
								<span class="wse__count" [innerHTML]="channel.info.likes | count"></span>&nbsp;<span class="wse__text">mi piace</span>
							</div>
							<div class="wse__label"><svg class="wse__icon--heart"><use xlink:href="#heart-active"></use></svg> <span>mi piace</span></div>
						</div>
					</div>
					<div class="wse__section--channel__abstract" [innerHTML]="channel.abstract"></div>
					<div class="wse__section--channel__group--cta">
						<a [href]="channel.url" class="wse__btn--rounded"><span>Guarda</span></a>
					</div>
				</div>
			</div>
			<div class="wse__col-md-6 wse__section--channel__swiper">
				<div class="swiper-container" swiper-events>
					<div class="swiper-wrapper">
						<div class="swiper-slide" [event]="event" *for="let event of channel.events">
							<!-- @@include ../event/card.html -->
						</div>
					</div>
					<div class="swiper-button-prev">
						<svg class="wse_arrow-left"><use xlink:href="#arrow-left"></use></svg>
					</div>
					<div class="swiper-button-next">
						<svg class="wse_arrow-right"><use xlink:href="#arrow-right"></use></svg>
					</div>
					<div class="swiper-pagination swiper-pagination-white"></div>
				</div>
			</div>
		</div>
	</div>
</div>
