<a [href]="event.url" class="wse__card--upcoming">
	<span class="wse__card--upcoming__picture">
		<img loading="lazy" [src]="event | picture : { width: 375, height: 375 }" />
	</span>
	<span class="wse__card--upcoming__content">
		<span class="wse__card--upcoming__title" [innerHTML]="event.title"></span>
		<span class="wse__card--upcoming__abstract" [innerHTML]="event.abstract"></span>
		<span class="wse__card--upcoming__group--cta">
			<span class="wse__btn--rounded"><span>Scopri</span></span>
		</span>
	</span>
</a>
