<div class="wse__card--hero">
	<div class="wse__card--hero__picture">
		<img [lazy]="event.picture.src + '960x600?sig=' + event.id" />
	</div>
	<div class="wse__card--hero__content">
		<a [href]="event.channel.url" class="wse__card--hero__category" [innerHTML]="event.channel.name"></a>
		<a [href]="event.url" class="wse__card--hero__title" [innerHTML]="event.name"></a>
		<div class="wse__event__info">
			<div class="wse__event-date" [eventDate]="event" (change)="onChange($event)">
				<div class="wse__date" [class]="{ 'wse__date--live': mode === 'live', 'wse__date--countdown': mode === 'countdown' }">
					<div class="wse__info" *if="mode === 'live'">Adesso</div>
					<div class="wse__info" *if="mode === 'countdown'">A breve&nbsp;<span [innerHTML]="countdown"></span></div>
					<div class="wse__info" *if="mode === 'relative' || mode === 'watchRelative'" [innerHTML]="eventDate.startDate | relativeDate"></div>
					<div class="wse__info" *if="mode === 'date'"><svg class="wse__icon"><use xlink:href="#calendar"></use></svg> <span [innerHTML]="eventDate.startDate | date : 'EEE dd MMMM yyyy'"></span></div>
				</div>
			</div>
			<div class="wse__subscribe" [class]="{ 'wse__active': event.info.subscribed }" (click)="toggleSubscribe()">
				<div class="wse__info">
					<svg class="wse__icon" *if="!event.info.subscribed"><use xlink:href="#bell"></use></svg>
					<svg class="wse__icon" *if="event.info.subscribed"><use xlink:href="#bell-active"></use></svg>
					<span class="wse__count" [innerHTML]="event.info.subscribers | count"></span>&nbsp;<span class="wse__text">iscritti</span>
				</div>
				<div class="wse__label"><svg class="wse__icon"><use xlink:href="#bell-active"></use></svg> <span [innerHTML]="event.info.subscribed ? 'iscritto' : 'iscriviti'"></span></div>
			</div>
			<div class="wse__like" [class]="{ 'wse__active': event.info.liked }" (click)="toggleLike()">
				<div class="wse__info">
					<svg class="wse__icon" *if="!event.info.liked"><use xlink:href="#heart"></use></svg>
					<svg class="wse__icon" *if="event.info.liked"><use xlink:href="#heart-active"></use></svg>
					<span class="wse__count" [innerHTML]="event.info.likes | count"></span>&nbsp;<span class="wse__text">mi piace</span>
				</div>
				<div class="wse__label"><svg class="wse__icon"><use xlink:href="#heart-active"></use></svg> <span>mi piace</span></div>
			</div>
		</div>
		<div class="wse__card--hero__abstract" [innerHTML]="event.abstract"></div>
		<div class="wse__card--hero__group--cta">
			<a [href]="event.url" class="wse__btn--rounded">
				<span *if="event.live">Guarda ora</span>
				<span *if="event.incoming">Scopri</span>
				<span *if="event.future && !event.incoming">Scopri</span>
				<span *if="event.past">Rivedi</span>
			</a>
		</div>
	</div>
</div>
