@mixin scrollbar() {

	&::-webkit-scrollbar {
		width: 12px;
		border-radius: 0px;
		background-color: #edf1fe;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-button:hover {
		display: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #5a80fb;
		box-shadow: none;
		border-radius: 8px;
		border: 2px solid #edf1fe;

		&:hover {
			background-color: #5a80fb;
		}
	}

	&::-webkit-scrollbar-track {
		background-color: #edf1fe;
		border-radius: 0px;

		&:hover {
			background-color: #edf1fe;
		}
	}

}
