<div user-forgot (sent)="onForgottenSent($event)" (login)="onLogin($event)">
	<div class="wse__container" *if="!success">
		<form class="wse__form" [formGroup]="form" (submit)="onSubmit()" name="form" role="form" novalidate autocomplete="off">
			<div class="wse__form__title">Recupera Password</div>
			<div class="wse__listing--fields">
				<input name="checkField" [formControl]="controls.checkField" value="" type="text" style="display:none !important;" />
				<div control-text [control]="controls.email" label="Email"></div>
			</div>
			<div class="wse__group--error" *if="error">
				<span class="wse__friendly-message" [innerHTML]="error.friendlyMessage"></span>
				<span class="wse__status-code" [innerHTML]="error.statusCode"></span>
				<span class="wse__status-message" [innerHTML]="error.statusMessage"></span>
			</div>
			<div class="wse__group--cta">
				<button type="submit" class="wse__btn--submit">
					<span *if="!form.submitted">Invia</span>
					<span *if="form.submitted">Inviato!</span>
				</button>
			</div>
			<div class="wse__group--info">
				Ricordi la password? <button type="button" class="wse__btn--nav" (click)="onLogin($event)"><span>Accedi</span></button>
			</div>
			<test-component [form]="form" (test)="test($event)" (reset)="reset($event)"></test-component>
		</form>
	</div>
	<div class="wse__container" *if="success">
		<div class="wse__form__title"><span>Password Inviata</span></div>
		<div class="wse__form__abstract">
			Abbiamo inviato la password all'indirizzo email fornito.
		</div>
		<div class="wse__group--info">
			Torna al <button type="button" class="wse__btn--nav" (click)="onLogin($event)"><span>Login</span></button>
		</div>
	</div>
</div>
