<script>
	var defaultLocale = {
		"id": "it",
		"dateFormats.short": "dd/MM/yy",
		"dateFormats.medium": "d MMM y",
		"dateFormats.long": "d MMMM y",
		"dateFormats.full": "EEEE d MMMM y",
		"timeFormats.short": "HH:mm",
		"timeFormats.medium": "HH:mm:ss",
		"timeFormats.long": "HH:mm:ss z",
		"timeFormats.full": "HH:mm:ss zzzz",
		"dayPeriods.narrow.am": "m",
		"dayPeriods.narrow.pm": "p",
		"dayPeriods.abbreviated.am": "AM",
		"dayPeriods.abbreviated.pm": "PM",
		"dayPeriods.wide.am": "AM",
		"dayPeriods.wide.pm": "PM",
		"days.narrow.sunday": "D",
		"days.narrow.monday": "L",
		"days.narrow.tuesday": "M",
		"days.narrow.wednesday": "M",
		"days.narrow.thursday": "G",
		"days.narrow.friday": "V",
		"days.narrow.saturday": "S",
		"days.short.sunday": "Do",
		"days.short.monday": "Lu",
		"days.short.tuesday": "Ma",
		"days.short.wednesday": "Me",
		"days.short.thursday": "Gi",
		"days.short.friday": "Ve",
		"days.short.saturday": "Sa",
		"days.abbreviated.sunday": "Dom",
		"days.abbreviated.monday": "Lun",
		"days.abbreviated.tuesday": "Mar",
		"days.abbreviated.wednesday": "Mer",
		"days.abbreviated.thursday": "Gio",
		"days.abbreviated.friday": "Ven",
		"days.abbreviated.saturday": "Sab",
		"days.wide.sunday": "Domenica",
		"days.wide.monday": "Lunedì",
		"days.wide.tuesday": "Martedì",
		"days.wide.wednesday": "Mercoledì",
		"days.wide.thursday": "Giovedì",
		"days.wide.friday": "Venerdì",
		"days.wide.saturday": "Sabato",
		"months.narrow.january": "G",
		"months.narrow.february": "F",
		"months.narrow.march": "M",
		"months.narrow.april": "A",
		"months.narrow.may": "M",
		"months.narrow.june": "G",
		"months.narrow.july": "L",
		"months.narrow.august": "A",
		"months.narrow.september": "S",
		"months.narrow.october": "O",
		"months.narrow.november": "N",
		"months.narrow.december": "D",
		"months.abbreviated.january": "Gen",
		"months.abbreviated.february": "Feb",
		"months.abbreviated.march": "Mar",
		"months.abbreviated.april": "Apr",
		"months.abbreviated.may": "Mag",
		"months.abbreviated.june": "Giu",
		"months.abbreviated.july": "Lug",
		"months.abbreviated.august": "Ago",
		"months.abbreviated.september": "Set",
		"months.abbreviated.october": "Ott",
		"months.abbreviated.november": "Nov",
		"months.abbreviated.december": "Dic",
		"months.wide.january": "Gennaio",
		"months.wide.february": "Febbraio",
		"months.wide.march": "Marzo",
		"months.wide.april": "Aprile",
		"months.wide.may": "Maggio",
		"months.wide.june": "Giugno",
		"months.wide.july": "Luglio",
		"months.wide.august": "Agosto",
		"months.wide.september": "Settembre",
		"months.wide.october": "Ottobre",
		"months.wide.november": "Novembre",
		"months.wide.december": "Dicembre",
		"eras.narrow.bc": "aC",
		"eras.narrow.ad": "dC",
		"eras.abbreviated.bc": "a.C.",
		"eras.abbreviated.ad": "d.C.",
		"eras.wide.bc": "avanti Cristo",
		"eras.wide.ad": "dopo Cristo",
		"numberSymbols.decimal": ",",
		"numberSymbols.group": ".",
		"numberSymbols.list": ";",
		"numberSymbols.percentSign": "%",
		"numberSymbols.plusSign": "+",
		"numberSymbols.minusSign": "-",
		"numberSymbols.exponential": "E",
		"numberSymbols.superscriptingExponent": "×",
		"numberSymbols.perMille": "‰",
		"numberSymbols.infinite": "∞",
		"numberSymbols.nan": "NaN",
		"numberSymbols.timeSeparator": ":"
	};

	var localeEn = {
		"justNow": "just now",
		"secondsAgo": "{{time}} seconds ago",
		"aMinuteAgo": "a minute ago",
		"minutesAgo": "{{time}} minutes ago",
		"anHourAgo": "an hour ago",
		"hoursAgo": "{{time}} hours ago",
		"aDayAgo": "yesterday",
		"daysAgo": "{{time}} days ago",
		"aWeekAgo": "a week ago",
		"weeksAgo": "{{time}} weeks ago",
		"aMonthAgo": "a month ago",
		"monthsAgo": "{{time}} months ago",
		"aYearAgo": "a year ago",
		"yearsAgo": "{{time}} years ago",
		"overAYearAgo": "over a year ago",
		"secondsFromNow": "{{time}} seconds from now",
		"aMinuteFromNow": "a minute from now",
		"minutesFromNow": "{{time}} minutes from now",
		"anHourFromNow": "an hour from now",
		"hoursFromNow": "{{time}} hours from now",
		"aDayFromNow": "tomorrow",
		"daysFromNow": "{{time}} days from now",
		"aWeekFromNow": "a week from now",
		"weeksFromNow": "{{time}} weeks from now",
		"aMonthFromNow": "a month from now",
		"monthsFromNow": "{{time}} months from now",
		"aYearFromNow": "a year from now",
		"yearsFromNow": "{{time}} years from now",
		"overAYearFromNow": "over a year from now"
	};

	var localeIt = {
		"justNow": "adesso",
		"secondsAgo": "{{time}} secondi fa",
		"aMinuteAgo": "un minuto fa",
		"minutesAgo": "{{time}} minuti fa",
		"anHourAgo": "un ora fa",
		"hoursAgo": "{{time}} ore fa",
		"aDayAgo": "ieri",
		"daysAgo": "{{time}} giorni fa",
		"aWeekAgo": "una settimana fa",
		"weeksAgo": "{{time}} settimane fa",
		"aMonthAgo": "un mese fa",
		"monthsAgo": "{{time}} mesi fa",
		"aYearAgo": "un anno fa",
		"yearsAgo": "{{time}} anni fa",
		"overAYearAgo": "oltre un anno fa",
		"secondsFromNow": "tra {{time}} secondi",
		"aMinuteFromNow": "tra un minuto",
		"minutesFromNow": "tra {{time}} minuti",
		"anHourFromNow": "tra un'ora",
		"hoursFromNow": "tra {{time}} ore",
		"aDayFromNow": "domani",
		"daysFromNow": "fra {{time}} giorni",
		"aWeekFromNow": "tra una settimana",
		"weeksFromNow": "fra {{time}} settimane",
		"aMonthFromNow": "tra un mese",
		"monthsFromNow": "fra {{time}} mesi",
		"aYearFromNow": "tra un anno",
		"yearsFromNow": "tra {{time}} anni",
		"overAYearFromNow": "tra più di un anno"
	}

	window.locale = defaultLocale;
	for (var p in localeIt) {
		defaultLocale[p] = localeIt[p];
	}

	window.labels = {
		'select': 'Seleziona',
		'select_file': 'Seleziona un file...',
		'error_required': 'Il campo è obbligatorio',
		'error_email': 'Email non valida',
		'error_match': 'I campi non corrispondono',
	}

</script>
