.wse__section--channel__menu {
	padding: 0 0 40px 0;

	.wse__nav--menu {
		@extend %nav;

		&>li {
			@extend %nav-item;

			&>a {
				@extend %btn-menu;
				border-radius: 0;
			}

			&:first-child {
				&>a {
					border-radius: 8px 0 0 8px;
				}
			}

			&:last-child {
				&>a {
					border-radius: 0 8px 8px 0;
				}
			}
		}

		&>li+li {
			&>a {
				border-left-width: 0;
			}
		}
	}

	@include media-down(sm) {
		display: none;
	}
}

.wse__section--channel__header {
	padding: 40px 0;
	margin: 0 0 2px 0;
	background: rgb(237, 241, 254);
	background: linear-gradient(0deg, rgba(237, 241, 254, 1) 0%, rgba(237, 241, 254, 0) 50%);

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;

		p {
			margin: 0;
		}

		& p+p {
			margin-top: 10px;
		}
	}

	&__category {
		position: relative;
		@extend %category;
		max-width: 500px;
		margin-bottom: 30px;
	}

	&__title {
		position: relative;
		@extend %title;
		max-width: 500px;
		margin-bottom: 20px;
	}

	&__abstract {
		position: relative;
		@extend %abstract;
		max-width: 500px;
		margin-bottom: 10px;
	}

	&__group--cta {
		position: relative;
		margin-top: 40px;
	}

	@include media-up(md) {
		.wse__col-md-6 {
			display: flex;
			flex-direction: column;
			justify-content: center;

			&:last-child {
				align-items: flex-end;
			}
		}
	}

	@include media-down(sm) {
		&__category {
			margin-bottom: 10px;
		}

		&__group--cta {
			margin: 20px 0;
		}
	}
}

.wse__section--channel__top-events {
	&__swiper {
		overflow: hidden;
		padding: 0;

		.swiper-container {
			@extend %swiper;
		}
	}
}

.wse__section--filters {
	padding: 40px 0 20px 0;
	border-bottom: 2px solid $background-tertiary;

	.wse__container-fluid {
		max-width: 1440px;
	}

	.wse__group--filters {
		&>.wse__container-fluid {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		padding: 15px 0;
		border-bottom: 1px solid #edf1fe;
	}

	.wse__group--actions {
		flex: 0 1 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.wse__nav--filters {
		@extend %nav;
		flex: 1 1 auto;

		&>li {
			@extend %nav-item;
			flex: 0 1 auto;

			&>.wse__filter__option {
				@extend %btn-filter;
				border-radius: 0;
			}
		}

		@include media-up(md) {

			&>li {
				&>.wse__filter__option {
					.wse__name {
						.wse__ico {
							display: none;
						}
					}
				}
			}

			&>li+li {
				margin-left: 40px;
			}

		}

		@include media-down(sm) {
			display: flex;
			justify-content: space-around;
			align-items: stretch;

			&>li {
				margin-right: 12px;
				position: relative;

				&>.wse__filter__option {
					position: static;
					display: flex;
					align-items: center;
					height: 100%;

					.wse__name {
						font-size: 11px;

						.wse__text {
							display: none;
						}
					}

					.wse__ico {
						margin: 0;
						fill: currentColor;
					}

					.wse__count {
						position: absolute;
						right: -12px;
						bottom: -8px;
						font-size: 10px;
					}
				}
			}
		}
	}

	.wse__active-filters {
		width: 100%;
		margin-top: 10px;

		&>.wse__container-fluid {
			display: flex;
			flex-wrap: wrap;
			max-width: 1440px;
		}
	}

	.wse__active-filters__filter {
		display: inline-flex;
		flex-wrap: wrap;
	}

	.wse__active-filters__option {
		background: $background-tertiary;
		margin: 0 10px 10px 0;
		padding: 5px 6px;
		font-size: 11px;
		line-height: 1;
		font-weight: 600;
		border-radius: 4px;
		cursor: pointer;

		.wse__icon {
			width: 6px;
			height: 6px;
		}
	}

	.wse__secondary-filters {
		@include grid-margin();
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}

	.wse__secondary-filter {
		margin: 12.5px;
		padding: 10px;
		border: 1px solid $background-tertiary;

		&__name {
			margin: 0 0 13px 0;
			line-height: 1;
			font-size: 13px;
			font-weight: 900;
		}

		@include media-up(lg) {
			flex: 0 1 calc(25% - 25px);
		}

		@include media-between(sm, md) {
			flex: 0 1 calc(33.3333% - 25px);
		}

		@include media-between(xs, sm) {
			flex: 0 1 calc(50% - 25px);
		}

		@include media-down(xs) {
			flex: 0 1 100%;
		}
	}

	.wse__nav--secondary-filters {
		@extend %nav;
		align-items: flex-start;
		flex-wrap: wrap;

		&>li {
			@extend %nav-item;
			flex: 0 1 auto;

			&>.wse__filter__option {
				@extend %btn;
				font-size: 11px;
				line-height: 1.8;
				font-weight: 500;
				display: flex;
				/*
				margin: 0 10px 2px -5px;
				padding: 0 5px;
				// background: $background-tertiary;
				// border-bottom: 1px solid $background-tertiary;
				color: $foreground-primary;
				cursor: pointer;
				*/

				background: $background-tertiary;
				color: $foreground;
				margin: 0 10px 10px 0;
				padding: 5px 6px 5px 6px;
				font-size: 11px;
				line-height: 1;
				font-weight: 600;
				border-radius: 4px;
				transition: none;
				cursor: pointer;

				.wse__count {
					background: $background-tertiary;
					padding: 1px 4px 1px 4px;
					border-radius: 3px;
					line-height: 1;
					font-size: 0.8em;
					margin-left: 1px;
					margin-right: -3px;
				}

				&.active {
					background: $background-primary;
					color: $foreground-negative;

					.wse__count {
						background: $background-primary;
					}
				}

				&.disabled {
					// border-bottom: 1px solid $background-tertiary;
					color: $foreground;
					opacity: 0.5;
					pointer-events: none;

					.wse__count {
						display: none;
					}
				}
			}
		}
	}

	@include media-down(sm) {
		padding: 0;

		.wse__group--filters {
			padding-bottom: 15px;
		}

		.wse__active-filters {
			padding-top: 0;
		}

		.wse__secondary-filter {
			margin: 0;
			@include grid-padding();
			border: none;
			border-bottom: 1px solid $background-tertiary;
		}

		.wse__nav--secondary-filters {
			display: inline-flex;
		}

		.wse__active-filters {
			display: inline-flex;
		}

		.wse__btn--mode {
			display: none;
		}
	}

	@include media-down(xs) {
		.wse__secondary-filter {
			&__name {
				text-align: center;
			}
		}

		.wse__nav--secondary-filters {
			justify-content: center;
		}

		.wse__active-filters {
			&>.wse__container-fluid {
				justify-content: center;
			}
		}
	}
}

.wse__section--channel__listing {
	min-height: 500px;

	.wse__container-fluid {
		max-width: 1440px;
	}

	$radius: 8px;

	.wse__group--grid {
		position: relative;
		height: 100%;
		margin: 15px 0 40px 0;
	}

}
