.wse__header {
	margin-bottom: 50px;
	background: $background-tertiary;

	.wse__container {
		height: 65px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.wse__brand {}

	.wse__websolute {
		fill: $foreground-primary;
		width: 24px;
		height: 24px;
	}
}
