.wse__header {
	background: $orange;
	border-bottom: 2px solid $border;

	.wse__container-fluid,
	.wse__container {
		height: 65px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.wse__btn--menu {
		line-height: 0;
		cursor: pointer;
		color: $foreground;

		.wse__icon {
			width: 19px;
			height: 19px;
		}
	}

	.wse__brand {
		line-height: 0;

		.wse__icon {
			fill: $foreground-primary;
			width: 120px;
			height: 30px;
		}

		.wse__icon--badge {
			fill: $foreground-primary;
			width: 30px;
			height: 30px;
		}
	}

	.wse__btn--rounded {
		@extend %btn-md;
	}

	@include media-up(sm) {
		.wse__brand {
			.wse__icon {
				display: block;
			}

			.wse__icon--badge {
				display: none;
			}
		}
	}

	@include media-down(xs) {
		.wse__brand {
			.wse__icon {
				display: none;
			}

			.wse__icon--badge {
				display: block;
			}
		}
	}
}

.wse__group--header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wse__group--brand {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&>*+* {
		margin-left: 10px;
	}
}

.wse__group--actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&>*+* {
		margin-left: 10px;
	}
}

.wse__avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-family: $font-secondary; // 'Roboto Mono', monospace;
	font-weight: 900;
	font-size: 12px;
	letter-spacing: 0.1em;
	background: rgba(0, 0, 0, 0.15); // $background-tertiary;
	color: $foreground-primary;
}
