.wse__header {
	// background: $background-tertiary;
	border-bottom: 2px solid $background-tertiary;

	.wse__container-fluid,
	.wse__container {
		height: 65px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.wse__btn--menu {
		line-height: 0;
		cursor: pointer;

		.wse__icon {
			width: 19px;
			height: 19px;
			color: #8e847b;
		}
	}

	.wse__brand {
		line-height: 0;
	}

	.wse__websolute {
		fill: $foreground-primary;
		width: 24px;
		height: 24px;
	}

	.wse__btn--rounded {
		@extend %btn-md;
	}

	@include media-up(md) {
		margin-bottom: 50px;
	}
}

.wse__group--header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wse__group--brand {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&>*+* {
		margin-left: 10px;
	}
}

.wse__group--actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&>*+* {
		margin-left: 10px;
	}
}

.wse__avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-family: 'Roboto mono', monospace;
	font-weight: 900;
	font-size: 12px;
	letter-spacing: 0.1em;
	background: $background-primary;
	color: #fff;
}
