.wse__section--hero-reel {
	overflow: hidden;
	background: $orange;
	min-height: calc(100vh - 70px);

	.wse__container-fluid {
		padding: 0;
	}

	.swiper-container {
		@extend %swiper-slides;
	}

	.wse__btn--rounded,
	.wse__btn--submit,
	.wse__btn--nav {
		&:hover {
			border-color: $background-negative;
			background: $orange;
			color: $foreground;
		}
	}

	@include media-up(md) {
		padding-top: 50px;
	}
}

.wse__section--channel {
	background: $background-tertiary;

	&__intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__swiper {
		.swiper-container {
			@extend %swiper;

			.swiper-button-next,
			.swiper-button-prev {
				top: 25px;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;

		p {
			margin: 0;
		}

		& p+p {
			margin-top: 10px;
		}
	}

	&__category {
		position: relative;
		@extend %category;
		max-width: 500px;
		margin-bottom: 30px;
	}

	&__title {
		position: relative;
		@extend %title;
		max-width: 500px;
		margin-bottom: 20px;
	}

	&__abstract {
		position: relative;
		@extend %abstract;
		max-width: 500px;
		margin-bottom: 10px;
	}

	&__group--cta {
		position: relative;
		margin-top: 40px;
	}

	@include media-up(md) {
		padding: 80px 0;

		&__swiper {
			overflow: hidden;
			padding: 0;

			&.swiper-container-horizontal>.swiper-container,
			.swiper-container {
				.swiper-pagination-bullets {
					display: none;
				}
			}
		}

	}

	@include media-down(sm) {
		padding: 40px 0;

		&__swiper {
			.swiper-slide {
				box-shadow: 0 10px 10px -5px rgba($foreground-primary, 0.2);
			}

			&.swiper-container-horizontal>.swiper-container,
			.swiper-container {
				.swiper-pagination-bullets {
					display: block;
				}

				.swiper-pagination-bullet {
					background: white;
				}
			}
		}

		&__group--cta {
			margin: 20px 0;
		}
	}
}

.wse__channel-0 {
	.wse__section--channel {
		background: $pink;
	}
	.wse__btn--rounded,
	.wse__btn--submit,
	.wse__btn--nav {
		&:hover {
			border-color: $background-negative;
			background: $pink;
			color: $foreground;
		}
	}
}

.wse__channel-1 {
	.wse__section--channel {
		background: $blue;
	}
	.wse__btn--rounded,
	.wse__btn--submit,
	.wse__btn--nav {
		&:hover {
			border-color: $background-negative;
			background: $blue;
			color: $foreground;
		}
	}
}

.wse__channel-2 {
	.wse__section--channel {
		background: $yellow;
	}
	.wse__btn--rounded,
	.wse__btn--submit,
	.wse__btn--nav {
		&:hover {
			border-color: $background-negative;
			background: $yellow;
			color: $foreground;
		}
	}
}

.wse__channel-3 {
	.wse__section--channel {
		background: $green;
	}
	.wse__btn--rounded,
	.wse__btn--submit,
	.wse__btn--nav {
		&:hover {
			border-color: $background-negative;
			background: $green;
			color: $foreground;
		}
	}
}

.wse__channel+.wse__channel {
	@include media-up(md) {
		margin-top: 0;
	}
}

.wse__section--channel+.wse__section--channel {
	margin-top: 20px;
}

.wse__section--upcoming {
	padding: 80px 0;
	text-align: center;

	&__title {
		position: relative;
		@extend %title;
		margin-bottom: 20px;
	}

	&__abstract {
		position: relative;
		@extend %abstract;
		margin-bottom: 70px;
	}

}
